@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

body {}

.underline {
    background: #603ebe;
    border-radius: 2.5px;
    width: 17.75px;
    height: 4px;
    position: absolute;
    left: 0px;
    top: 17px;
  }